
input{
    padding: 15px;
    margin: 10px 0px;
    
    }
    button{
        padding: 15px;
        margin: 10px 0px;
        background-color: #EF8614;
        
        }
        h1{
    
            color: #000;
    
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
    
    
        }
        label{
    
            width: 534px;
    height: 48px;
    flex-shrink: 0;
        }



        